{% extends "base.html"  %}

{% block content %}

<div class="container">

<!--<a href="/leads/create/">Create a new Lead</a>-->
    {% if request.user.is_organisor %}
<a href="{% url 'leads:lead-create' %}">Create a new Lead</a>
    {% endif %}
<h1>Lead List</h1>


<div class="row">

    {% for lead in leads %}
<div class="col-md-12">
    <a href="{% url 'leads:lead-detail' lead.pk %}">{{lead.first_name}} {{lead.last_name}} {{lead.age}}</a>
    </div>
    {% endfor %}

</div>


</div>

{% endblock %}